<!-- <nav>
  <a *ngFor="let item of items" [routerLink]="item.url" routerLinkActive="active">{{item.nombre}}</a>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div *ngFor="let item of items">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="item.url">{{item.nombre}}</a>
          </li>
        </div>
      </ul>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="text" id="inputIdBuscarDespacho" placeholder="Ingrese Id Despacho" [(ngModel)]="id" name="id" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" id="linkBuscarDespacho" [routerLink] = "['/despacho/actualizar' , id]">Search</button>
    </form>
  </div>
</nav>
