table {
    table-layout: fixed;
    justify-content: center;
    align-self:center;
    width: 95%;
    border-collapse: collapse;
    border: 3px solid rgb(186, 231, 216);
}

thead th:nth-child(1) {
    width: 10%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 30%;
  }
  
  thead th:nth-child(4) {
    width: 20%;
  }
  thead th:nth-child(5) {
    width: 50%;
  }

  th, td {
    padding: 15px;
  }

  button {
    background-color: rgb(186, 231, 216);
    color: black;
  }

  div{
  margin: 0 auto;
  }
