<div>
  <div class="hijo">
    <h5 class="card-title lead">Medicamentos disponibles </h5>
      <div class="card-body text-secondary">
         <table class="table">
            <thead class="table-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha Vencimiento</th>
              <th scope="col">Costo medicamento</th>
              <th>Despachar</th>
            </tr>
          </thead>
          <tbody class="medicamentos">
            <tr *ngFor="let item of listaMedicamentos | async" class="itemMedicamento">
              <td id="itemMedicamentoId{{item.itemMedicamento}}">{{ item.id }}</td>
              <td id="itemMedicamentoNombre{{item.itemMedicamento}}">{{ item.nombre }}</td>
              <td id="itemMedicamentoFechaVencimiento{{item.itemMedicamento}}">{{ item.fechaVencimiento }}</td>
              <td id="itemMedicamentoCosto{{item.itemMedicamento}} " type="number"> $ {{ item.costo }}</td>
              <td>
                <button type="button" name = "button" class="btn btn-primary" id="linkCrearDespacho" [routerLink] = "['/despacho/crear', item.id, item.nombre, item.fechaVencimiento, item.costo]" routerLinkActive="active"> 
                  Despachar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="my-4">
          <button class="boton btn btn-rounder btn-primary" id="linkCrearMedicamento" [routerLink] = "['/medicamento/crear']">Crear</button>
        </div>
      </div>
    </div>
</div>


  <router-outlet></router-outlet>