<div style="padding-top: 1%;">
  <div class="card formulario">
    <h5>Despacho {{despacho.id}}</h5>
    <div class="my-1" style="padding-left: 73%;">
      <button class="btn btn-primary"  role="button" (click) = 'actualizar()' id="linkAceptarActualizarMedicamento"> Actualizar </button>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
            <label for="fechaDespacho" class="form-label">Fecha Despacho</label>
            <input type="text" readonly="readonly" placeholder="yyyy-mm-dd hh:mm:ss" class ="form-control" id="fechaMedicamentoCrearDespacho" [(ngModel)]="despacho.fechaCreacion" name="fecha">
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre Medicamento</label>
          <input type="text" readonly="readonly" class="form-control" id="nombreMedicamentoActualizarDespacho" [(ngModel)]="despacho.medicamento.nombre " name="nombreMedicamento">
        </div>
        <div class="mb-3">
          <label for="costo" class="form-label">Costo Medicamento</label>
          <input type="text" readonly="readonly" class="form-control" id="costoMedicamentoActualizarDespacho" [(ngModel)]="despacho.medicamento.costo" name="costoMedicamento">
        </div>
        <div class="mb-3">
          <label for="fechaVencimiento" class="form-label">Fecha Vencimiento</label>
          <input type="text" readonly="readonly" placeholder="yyyy-mm-dd hh:mm:ss" class ="form-control" id="fechaMedicamentoActualizarDespacho" [(ngModel)]="despacho.medicamento.fechaVencimiento" name="fecha">
        </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="text" class="form-control" id="cantidadActualizarDespacho" [(ngModel)]="despacho.cantidad" name="cantidad" >
          </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direccionActualizarDespacho" [(ngModel)]="despacho.direccion" name="direccion">
         </div>
         <div class="mb-3">
            <label for="costo" class="form-label">Costo Total</label>
            <input type="text" readonly="readonly" class="form-control" id="CostoTotalActualizarDespacho" [(ngModel)]="despacho.costoTotal" name="costo">
         </div>
      </form>
    </div>
  </div>
</div>

