.div-principal {
  padding-top: 1%;
}
.formulario{
    table-layout: fixed;
    justify-content: center;
    align-self:center;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid rgb(186, 231, 216);
    margin: 0 auto;
    margin-top: 3%;
    height: 660px;
}
.my-1 {
  padding-left: 73%;
}
button {
    background-color: rgb(186, 231, 216);
    color: black;

  }

  input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, rgb(179, 255, 236));
  }
  
  input:valid {
    border: 2px solid black;
  }
