.espacio {
    table-layout: fixed;
    justify-content: center;
    align-self:center;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid rgb(186, 231, 216);
    margin: 100px auto;
    padding: 20px;
}
.col-sm-4 {
  width: 400px;
}

.my-4 {
  padding-left: 85%;
}
button {
    background-color: rgb(186, 231, 216);
    border: blue;
    border-radius: 5px;
    color: black;
}
