<form class="espacio" [formGroup]="medicamentoForm" (ngSubmit)="crear()">

  <div class="row">
    <div class="col-sm-2">
      <label>Nombre:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="nombreCrearMedicamento" name="nombreCrearMedicamento" placeholder="Nombre medicamento" class="form-control"
        formControlName="nombre">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label>Fecha vencimiento:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="fechaCrearMedicamento" name="fechaVencimiento" placeholder="yyyy-mm-dd hh:mm:ss"
        class="form-control" formControlName="fechaVencimiento">
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-2">
      <label>Costo:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="CostoCrearMedicamento" name="CostoCrearMedicamento" placeholder="Costo"
        class="form-control" formControlName="costo">
    </div>
  </div>

  <div>
    <button class="btn btn-primary" type="submit" >crear</button>
  </div>
</form>
